# macOS
.DS_Store
# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.dist/
build/
dist/
.venv/
venv/
env/
.env
pip-wheel-metadata/
.cache/
# Jupyter
.ipynb_checkpoints/
# Logs
*.log
# IDEs
.vscode/
.idea/
# OS
Thumbs.db
.Renviorn
.httr-oauth
